body{
    background: #ffff;
    margin:0;
}
h1 {
    font-weight: 900;
    font-size: 25px;
    color: #010414;
    font-family:sans-serif;
  }
  
header{
    display: flex;
    padding-top: 19px;
    align-items: center;
    justify-content:space-between;
}
.header-container{
    box-sizing: border-box;
    padding-left: 108px;
    padding-right:108px;
    width: 100%;
    height: 80px; 
}
header ul{
    display: flex; 
}
header li{
    padding: 0px 25px;
    display: inline; 
}
header ul li:nth-child(3) {
    padding-right: 0;
}
a {
    text-decoration: none;
}
.rotate-line{
    color: #E6E6E7;
}
.responsive-header{
    color:#010414;
    font-family:sans-serif;
}
.wordlwide-by-country{
    margin-top: 30px;
}
.wordlwide-by-country li{
    display: inline-block; 
    padding: 0px 65px;
    margin-left: -100px;
    font-family: sans-serif;
}
.wordlwide-by-country li:hover {
    text-decoration: underline 3px solid #010414;
  }

.all-boxes{
    display: flex;
}
  .boxes{
    border-radius: 16px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.04);
    text-align: center;
    width: 392px;
    height: 255px; margin-right: 24px; padding: 0px 140px; 
  }
.box-1{
    background: rgba(32, 41, 243, 0.08);
}
.box-2{
    background: rgba(15, 186, 104, 0.08);
}
.box-3{
    background: rgba(234, 214, 33, 0.08);
}
.all-boxes h4{
    opacity: 1;
}
.box-1 h1{
    color: #2029f3;
}
.box-2 h1{
    color: #0fba68;
}
.box-3 h1{
    color:  #ead621;
}
.all-boxes h1 {
    font-size: 39px;
    line-height: 47px;
    margin-top: 24px;
    font-weight: 900;
}
.all-boxes h4{
    margin-top: 24px;
    font-family: sans-serif;
}
.all-boxes img{ 
    display: block;
    margin: auto;
}
.all-boxes .boxes{
    padding-top:40px ;
}
section{
    margin-top: 60px;
}


@media (min-width: 776){
    .hide-phone{
        display: none;
    }
    .header-container{
        padding:25px 16px 0 16px;
      }
}
@media (max-width:375){
    .all-boxes{
        flex-wrap: wrap;
    }
    .box-2{
        max-width: 48%;
    }
    .box-3{
        max-width: 48%;
    }
    .all-boxes .boxes:first-child{
        margin-bottom: 20px;
    }
}